body {
    margin: 0;
    padding: 0;
}

header {
    background: #999;
    color: white;
}

header h1 {
    margin: 0;
    display: inline;
}

nav ul {
    margin: 0;
    display: inline;
}

nav ul li {
    background: none;
    color: blue;
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
}

a {
    color: crimson;
}