body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header {
    background: #999;
    color: white;
}

header h1 {
    margin: 0;
    display: inline;
    margin-left: 10px;
}

nav ul {
    margin: 0;
    display: inline;
}

nav {
    text-align: center;
}

nav ul li {
    background: none;
    color: blue;
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
}


h2 {
    color: black;
    font-family: monospace;
    margin-top: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
    font-family:monospace;
    font-size: 15px;
}

img {
    border-radius: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

footer {
    margin-left: 20px;
    font-family: monospace;
}

.MeBlock {
    border: solid;
}